services:
  neo4j:
    image: neo4j:5
    container_name: local-neo4j
    ports:
      - "7474:7474"
      - "7687:7687"
    environment:
      NEO4J_AUTH: neo4j/password
      NEO4J_PLUGINS: '["apoc"]'
    volumes:
      - ./neo4j/data:/data
      - ./neo4j/conf:/conf
      - ./neo4j/plugins:/plugins
      - ./neo4j/scripts:/var/lib/neo4j/scripts
